<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test de déploiement en prod</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
</head>
<body>
  <main class="container">
    <h1>Affichage des posts</h1>

    @each(post in posts)
      <article>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
      </article>
    @else
      <p>Il n'y a pas d'articles sur le site !</p>
    @end

    <h2>Une modification en temps réel (13/02) !</h2>
    <p>On fait un test de ci/cd en production à 00:05 pour vérifier que l'automatisation fonctionne !</p>
  </main>

</body>
</html>
